<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <% if(found != null){%>
    <title><%= found.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon -->
    <link rel="icon" type="/image/png" sizes="36x36" href="/img/core-img/favicon36.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/style.css">
    <style>
        .btn-facebook {
            color: #fff;
            background-color: #4C67A1;
        }
        .btn-facebook:hover {
            color: #fff;
            background-color: #405D9B;
        }
        .btn-facebook:focus {
            color: #fff;
        }
    </style>

</head>

<body>
    <% include ./header %>

    <!-- ##### Single Blog Area Start ##### -->
    <div class="single-blog-wrapper section-padding-0-100">

        <!-- Single Blog Area  -->
            <% 
            var monthNames = ["December", "January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November"]

            let date = found.date;
            let day = date.slice(0, date.indexOf('/'));
            let month = date.slice(date.indexOf('/') + 1 , date.lastIndexOf('/'))

            month = monthNames[month]
            found.day = day
            found.month = month


            let content = "<p>" + found.content.slice(0, found.content.indexOf('\n')) + "</p>";
    
            while(found.content.indexOf('\n') != -1){
               found.content = found.content.slice(found.content.indexOf('\n') + 1, found.content.length);
                content = content + "<p>" + found.content.slice(0, found.content.indexOf('\n')) + "</p>";
            }


        %>
        <div class="single-blog-area blog-style-2 mb-50">
            <div class="single-blog-thumbnail">
                <img height="100" width="100" src="<%= found.img %>" alt="">
                <div class="post-tag-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="post-date">
                                    <a href="#"><%= found.day %> <span><%= found.month %></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- ##### Post Content Area ##### -->
                <div class="col-12 col-lg-9">
                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="#" style="font-family: 'Sans-serif', Times, serif" class="post-tag"><%= found.category %></a>
                            <h4><a href="#" style="font-family: 'Sans-serif', Times, serif" class="post-headline mb-0"><%= found.title %></a></h4>
                            <div style="font-family: 'Sans-serif', Times, serif"><%- content %></div>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://blogcuaduy.herokuapp.com/post/bai-nay-test-thoi.5bbe006d00fc66001564876e.html
                            " target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false"><button style="width:30%; margin-top:10px;" type="button" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-2"></i> Share on Facebook</button></a>
                        </div>
                    </div>

                    <!-- About Author -->
                    <div class="blog-post-author mt-100 d-flex">
                        <div class="author-info">
                            <div class="line"></div>
                            <span class="author-role">Author</span>
                            <h4><a href="#" style="font-family: 'Sans-serif', Times, serif" class="author-name"><%= found.author %></a></h4>
                        </div>
                    </div>
                    <%
                        }
                    %>
                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix mt-70">
                        <h5 class="title">Comments</h5>

                        <ol id="commentplace">
                            <%if(foundcmt != null){
                                for(var i=0; i < foundcmt.length; i++){
                                
                                    let datecmt = foundcmt[i].date
                                    let day = datecmt.slice(0, datecmt.indexOf('/'));
                                    let month = datecmt.slice(datecmt.indexOf('/') + 1 , datecmt.lastIndexOf('/'))

                                    month = monthNames[month]
                                    foundcmt[i].day = day
                                    foundcmt[i].month = month
                            %>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="/img/bg-img/b7.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date"><%= foundcmt[i].month %>&nbsp;<%= foundcmt[i].day %></a>
                                        <p><a href="#" class="post-author"><%= foundcmt[i].name %></a></p>
                                        <p><%= foundcmt[i].comment %></p>
                                    </div>
                                </div>
                            </li>
                            <%
                                }
                            }
                            %>
                        </ol>
                    </div>
                    <div class="post-a-comment-area mt-70">
                        <h5>Leave a reply</h5>
                        <!-- Reply Form -->
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="text" name="name" id="name" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Name</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="group">
                                        <textarea name="message" id="message" required></textarea>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Comment</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn original-btn" onclick="comment('<%= postid %>')">Reply</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- ##### Sidebar Area ##### -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="post-sidebar-area">

                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Advertisement</h5>
                            <a href="#"><img src="/img/bg-img/add.gif" alt=""></a>
                        </div>

                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Latest Posts</h5>

                            <div class="widget-content" id="placesidepost">

                            </div>
                        </div>

                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Tags</h5>
                            <div class="widget-content">
                                <ul class="tags" id="category">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Single Blog Area End ##### -->

    <!-- ##### Instagram Feed Area Start ##### -->
    <div class="instagram-feed-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="insta-title">
                        <h5>Follow us @ Instagram</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Instagram Slides -->
        <div class="instagram-slides owl-carousel">
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="/img/instagram-img/1.png" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="/img/instagram-img/2.png" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="/img/instagram-img/3.png" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="/img/instagram-img/4.png" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="/img/instagram-img/5.png" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="/img/instagram-img/6.png" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="/img/instagram-img/7.png" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Instagram Feed Area End ##### -->

    <% include ./footer %>
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

    <script src="/js/core.js"></script>
    <script>
        latesvscategory()
    </script>
    <script>
        function comment(postid) {

            let data = {
                idpost: postid,
                name: $("#name").val(),
                comment: $("#message").val()
            }
            $.ajax({
                type: "post",
                url: "/comment",
                data: data,
                success: function(data){
                    let commentplace = document.getElementById("commentplace");
                    let monthNames = ["December", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November"]
                    let str = ""
                    for(var i=0; i<data.length; i++){
                        let datecmt = data[i].date
                        let day = datecmt.slice(0, datecmt.indexOf('/'));
                        let month = datecmt.slice(datecmt.indexOf('/') + 1 , datecmt.lastIndexOf('/'))

                        month = monthNames[month]

                        str += `<!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="/img/bg-img/b7.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">`+ month +`&nbsp;`+ day +`</a>
                                        <p><a href="#" class="post-author">`+ data[i].name +`</a></p>
                                        <p>`+ data[i].comment +`</p>
                                    </div>
                                </div>
                            </li>` 
                    }
                    $("#name").val("")
                    $("#message").val("")
                    commentplace.innerHTML = str
                }
            })
        }
    </script>
</body>

</html>